
  .body-index {
		background-image: url("../../75.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
  }
#bg-login {
  background-color: whitesmoke;
}
 .form-signin {
  width: 300px;
  margin: 0 auto;
  margin-top: 164px;
}
.navbar {
  margin-left: auto;
}
#navbar-margin {
margin-bottom: 10px;
}
.bd-example {
  margin-top: 10px;
  height: 100%;
  width: 100%;
}  
header, section, footer {
    display: block;
  }
#header {
  background-color: rgba(29, 36, 42, 0.4);
  height: 150px;
  position: relative;
}
#header .btn {
  position: absolute;
  top: 50px;
  right: 50px;
}
#header h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  line-height: 150px;
  text-transform: uppercase;
  text-shadow: 20px -15px 10px red;
}
.firstsection {
  margin-bottom: 10px;
}
.containerimage {
  position: relative;
}
.mainimage, #five img, #four img {
  display: block;
  width: 100%;
  margin-top: 10px;
  }
/* top left text */
.text-block {
  position: absolute;
  top: 40px;
  left: 40px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.fivearticles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
#one, #two, #three, #four, #five {
  padding: 20px;
  background-color: rgba(29, 36, 42, 0.4);
}
#one {
  grid-column: 1/4;
  grid-row: 1/3;
}
.body-index h1 {
  font-size: 25px;
  font-family: monospace;
  color: red;
}
p {
  font-style: italic;
  color: white;
  line-height: 1.5;
  transition: background .3s ease;
}
#two {
  grid-column: 4/5;
  grid-row: 1/2;
  min-width: 230px;
}
#message {
  resize: none;
  }
#three {
  grid-column: 4/5;
  grid-row: 2/3;
  min-width: 230px;
}
.icons-div {
  font-size: 100px;
}
.icons-div a {
  text-decoration: none;
}
.icon-youtube:before {
  content: "\e900";
  color: #f00; 
}
.icon-twitter:before {
  content: "\e901";
  color: #1da1f2;
}
.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}
.icon-facebook:before {
  content: "\e903";
  color: #3b5998;
}
#four {
  grid-column: 1/3;
  grid-row: 3/4;
  min-width: 100%;
}
#five {
  grid-column: 3/5;
  grid-row: 3/4;
  min-width: 100%;
}
#footer {
  margin-top: 10px;
  background-color: rgba(29, 36, 42, 0.5);
  padding: 6em 0 4em 0;
  text-align: center;
  letter-spacing: 0.075em;
  display: block;
  font-size: 100%;
}
.icons, .copyright {
    padding: 0;
    border: 0;
    margin: 0 0 2em 0;
    font: inherit;
    vertical-align: baseline;
    list-style: disc;
  }
#footer .icons {
  font-size: 1.25em;
  cursor: default;
  list-style: none;
  padding-left: 0;
}
#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  letter-spacing: 0.255em;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}
ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
ul.icons li a {
  text-decoration: none;
}
ul.copyright li {
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    line-height: 1em;
    margin-left: 1em;
    padding-left: 1em;
}
ul.copyright li:first-child {
border-left: 0;
}
    @media only screen and (max-width: 800px) {

        #header h1 {
        color: white;
        font-size: 3em;
        text-align: center;
        line-height: 150px;
        text-transform: uppercase;
        text-shadow: 20px -15px 10px red;
      }
      #header .btn {
        position: absolute;
        top: 105px;
        right:40%;

      }
      .fivearticles {
        display: grid;
        grid-template-columns: 1fr;
      }
      #one {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: antiquewhite;
      }
      #two {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      #three {
        grid-column: 1/2;
        grid-row: 5/6;
        min-width: 230px;
      }
      #four {
        grid-column: 1/2;
        grid-row: 3/4;
        min-width: 100%;
      }
      #five {
        grid-column: 1/2;
        grid-row: 4/5;
        min-width: 100%;
      }
    }